:root {
  /* --prColor: rgb(44, 54, 24); */
  /* --secColor: rgb(136, 144, 130); */
  /* --bgColor: rgb(179, 188, 172); */
  --prColor: rgb(44, 25, 34);
  --secColor: rgb(255, 231, 235);
  --bgColor: rgb(220, 189, 220);

  /* --prColor: rgb(44, 25, 34); */
  /* --secColor: rgb(176, 150, 176); */
  /* --bgColor: rgb(84, 61, 84); */
  font-family: futura-pt, sans-serif;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}
body {
  background: var(--bgColor);
  margin: 0;
  text-align: center;
  color: var(--prColor);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
#toadTitle {
  font-family: futura-pt, sans-serif;
}
#loading-container {
  position: absolute;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  height: 50%;
  animation: spin 2.3s ease-in-out infinite;
}
#toad-svg {
  fill: var(--prColor);
  stroke: var(--prColor);
  stroke-width: 40;
  height: 200px;
}

#floatBoxContainer {
  visibility: hidden;
  display: flex;
  aspect-ratio: 5/7;
  height: auto;
  width: 70vw;
  max-width: 350px;
  border-radius: 10px;
  position: relative;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#floatBox {
  height: 95%;
  width: 95%;
  border-radius: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.float {
  position: relative;
  animation: MoveUpDown 3s ease-in-out infinite;
}

@keyframes spin {
  0%,
  100% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(-15%);
  }
  50% {
    transform: translateY(-10%);
  }
}
.toadImg {
  display: none;
  width: auto;
  height: 100%;
  /* -webkit-filter: drop-shadow(5px 5px #222); */
  /* filter: drop-shadow(100px 10px 10px rgba(42, 25, 51, 0.173)); */
}

#toadDivWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: spin 2.3s ease-in-out infinite;
}
#toadDivWrapper:hover {
  cursor: pointer;
}

#shadow {
  position: absolute;
  border-radius: 50%;
  bottom: 6%;
  height: 8%;
  width: 75%;
  background-color: var(--prColor);
  animation: disolve 3s ease-in-out infinite;
}

@keyframes disolve {
  0%,
  100% {
    opacity: 0.3;
    transform: scale(0.7);
    background: radial-gradient(
      ellipse at center,
      var(--prColor) 60%,
      rgba(0, 212, 255, 0) 70%
    );
  }
  50% {
    opacity: 0.5;
    transform: scale(0.8);
    background: radial-gradient(
      ellipse at center,
      var(--prColor) 60%,
      rgba(0, 212, 255, 0) 70%
    );
  }
}

.cursor-img-container {
  position: absolute;
  pointer-events: none;
  height: 110px;
  width: 110px;
}
.curser-img {
  pointer-events: none;
  height: 100%;
  width: auto;
}

#all-btn-holder {
  visibility: hidden;

  transform-origin: bottom;
}
#web-btn-holder {
  padding: 10px;
  display: flex;
  gap: 10px;
}

#mob-btn-holder {
  width: 100vw;
  justify-content: center;
  gap: 10px;
  display: none;
}

.mob-btn {
  aspect-ratio: 1/1;
  border-radius: 100%;
  height: 80px;
  border: 2px solid var(--prColor);
  box-shadow: 0px 2px var(--prColor);
  background: var(--secColor);
  padding: 10px;
  font-weight: bold;
  color: var(--prColor);
}
.game-btn {
  aspect-ratio: 1/1;
  border-radius: 100%;
  height: 80px;
  border: 2px solid var(--prColor);
  box-shadow: 0px 2px var(--prColor);
  background: var(--secColor);
  padding: 10px;
  font-weight: bold;
}
.game-btn:hover {
  cursor: pointer;
  background-color: var(--bgColor);
}

#health-display {
  /* display: none */
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: absolute;
  padding: 3px;
  padding-bottom: 20px;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.363);
  border: 2px solid var(--prColor);
  border-radius: 10px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: 10px 10px 100px rgba(44, 25, 34, 0.273);
  transform-origin: top right;
}
#health-display-title {
  transition: all 0.2s ease-in-out;
}
.health-display-title-small {
  font-size: 15px;
  margin: 0px;
}
.health-full {
  width: 200px;
}
.health-small {
  width: 80px;
  padding: 10px;
}

.data-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-container {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  width: 90%;
  background-color: var(--prColor);
}
.data-display p {
  transition: all 0.2s ease-in-out;
}
.bar-container-full {
  height: 20px;
  border-radius: 50px;
}
.bar-container-small {
  height: 4px;
  border-radius: 0px;
}
.bar-percentage {
  height: 100%;
  transition: all 0.5s ease-out;
}
.bar-title-small {
  font-size: 10px;
  margin: 2px;
  overflow: scroll;
  text-overflow: ellipsis;
}

@media (pointer: none), (pointer: coarse) {
  #web-btn-holder {
    display: none;
  }
  #mob-btn-holder {
    display: flex;
  }
}

.material-symbols-rounded {
  font-size: 40px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 400;
}

.shrink {
  animation: shrinkAnimate 0.5s ease-in-out;
}
@keyframes shrinkAnimate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.expand {
  animation: expandAnimate 1.5s cubic-bezier(0, 0.84, 0.36, 1.03);
}
@keyframes expandAnimate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
