:root {
  /* --prColor: rgb(44, 54, 24); */
  /* --bgColor: rgb(179, 188, 172); */
  --prColor: rgb(44, 25, 34);
  --bgColor: rgb(255, 231, 235);

  font-family: futura-pt, sans-serif;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}
body {
  background: rgb(220, 189, 220);
  margin: 0;
  text-align: center;
  color: var(--prColor);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
#toadTitle {
  font-family: futura-pt, sans-serif;
}

#floatBoxContainer {
  /* background-color: var(--bgColor); */
  aspect-ratio: 5/7;
  height: auto;
  width: 70vw;
  max-width: 350px;
  /* border: 5px solid var(--prColor); */
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cardTitle {
  color: var(--prColor);
  position: absolute;
  line-height: 0px;
  height: 0px;
}
.topLeft {
  font-size: 100px;

  top: -10px;
  left: 20px;
}
.bottomRight {
  font-size: 110px;

  right: 20px;
  bottom: -10px;
  transform: rotate(180deg);
}

#floatBox {
  height: 95%;
  width: 95%;
  /* border: 5px solid var(--prColor); */
  border-radius: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.float {
  position: relative;
  animation: MoveUpDown 3s ease-in-out infinite;
}

@keyframes spin {
  0%,
  100% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(-15%);
  }
  50% {
    transform: translateY(-10%);
  }
}
#toadImg {
  width: auto;
  height: 100%;
}
#toadImgHover {
  display: none;
  width: auto;
  height: 100%;
}

#toadDivWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: spin 2.3s ease-in-out infinite;
}
#toadDivWrapper:hover {
  cursor: pointer;
}

#shadow {
  position: absolute;
  border-radius: 50%;
  bottom: 6%;
  /* left: 0%; */
  height: 8%;
  width: 75%;
  background-color: var(--prColor);
  animation: disolve 3s ease-in-out infinite;
}

@keyframes disolve {
  0%,
  100% {
    opacity: 0.3;
    transform: scale(0.7);
    background: radial-gradient(
      ellipse at center,
      var(--prColor) 60%,
      rgba(0, 212, 255, 0) 70%
    );
  }
  50% {
    opacity: 0.5;
    transform: scale(0.8);
    background: radial-gradient(
      ellipse at center,
      var(--prColor) 60%,
      rgba(0, 212, 255, 0) 70%
    );
  }
}

.cursor-img-container {
  position: absolute;
  pointer-events: none;
  height: 110px;
  width: 110px;
}
.curser-img {
  pointer-events: none;
  height: 100%;
  width: auto;
}

#btn-holder {
  padding: 10px;
  /* background: red; */
}

button {
  border: 2px solid var(--prColor);
  background: var(--bgColor);
  padding: 10px;
  font-weight: bold;
  color: var(--prColor);
}
button:hover {
  cursor: pointer;
}

.health-display {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  position: absolute;
  padding: 3px;
  padding-bottom: 20px;
  top: 10px;
  right: 10px;
  width: 200px;
  /* height: 200px; */
  background-color: rgba(255, 255, 255, 0.363);
  border: 2px solid var(--prColor);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 10px 10px 100px rgba(44, 25, 34, 0.273);
}

.data-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bar-container {
  width: 90%;
  height: 20px;
  background-color: var(--prColor);
}
.bar-percentage {
  height: 100%;
  transition: all 0.5s ease-out;
}
